<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDQiPORdDAZhYxV17gwckd7-PWLj9omoKM</string>
	<key>GCM_SENDER_ID</key>
	<string>359163472569</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.newsfeedApp</string>
	<key>PROJECT_ID</key>
	<string>newsfeed-app-1b47c</string>
	<key>STORAGE_BUCKET</key>
	<string>newsfeed-app-1b47c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:359163472569:ios:be10a4561b089df5e50968</string>
</dict>
</plist>